<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/stylesheets/output.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
      integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm@5.3.0/lib/xterm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.8.0/lib/xterm-addon-fit.js"></script>
    <script type="importmap">
      {
        "imports": {
          "terminal": "/javascript/xterm.js",
          "logs": "/javascript/logs.js"
        }
      }
    </script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/xterm@5.3.0/css/xterm.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css"
    />
    <title>{{ .PageTitle }}</title>
    <script type="module">
      import { createTerminalComponent } from "terminal"
      import { createLogsComponent } from "logs"
      import Alpine from "//unpkg.com/alpinejs/dist/module.esm.js"

      // Register the terminal component
      Alpine.data("terminal", createTerminalComponent())

      // Register the logs component
      Alpine.data("logsComponent", createLogsComponent())

      // Start Alpine
      Alpine.start()

      // Make Alpine available globally for debugging
      window.Alpine = Alpine
    </script>
  </head>
  <body class="h-full">
    <div class="container flex flex-col mx-auto p-2 sm:p-4 h-full">
      <h1 class="text-xl sm:text-2xl font-bold mb-4">{{ .PageTitle }}</h1>
      <div
        id="containers"
        hx-get="/containers"
        hx-trigger="load"
        hx-target="#containers"
        hx-swap="innerHTML"
      ></div>
    </div>
  </body>
</html>
